div {
  
  padding: 0, 5m 0;
  border: 1px solid rgb(20, 9, 9);
  margin: 5px;
  
}

#publicidad {
  flex-grow: 1;
  background-color: yellow;
    margin-top: 1em;

}

ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
p,
form {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
img {
  border: none;
}
#contenedor {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
#cabecera {
    margin: 1em;

}
#menu {
    margin: 0.5em 0.5em;
    background-color: orange;
    display: flex;
    justify-content: center;
    clear: both;
    
    
} 
.imagenPortada{
  
  max-width:100%;
  background-image: url("images/turnstile.jpg");
  height: 350px;
}

#contenido{
    margin: 0.5em 0.5m 0.5m 0.5m;
    border: 1px;
}
#contenido {
    margin: 0.5em;
    border: 1px;
}

#principal{
    margin: 0.5em;
    border: 1px;
}
#contenido #secundario{
    margin: 0.5em;
}

#articulo {
    background-color: yellow;
    margin: 1em 0;

}

#pie {
  border: 2px solid rgb(0, 0, 0);
}
#cabecera {
  clear: both;
}

#contenido {
  display: flex;
  justify-content: space-around;
  place-content: flex-start flex-end;
  
  width: 79%;
  background-color: orange;
}

#medio {
  display: flex;
  align-content: center;
  justify-content: space-around;

  float: left;
  width: 18%;
  background-color: rgb(73, 73, 71);
}
  #noticias{
  
    background-color: palegreen;
  }
  #principal {
    
    background-color: palegreen;
   
    width: 78%;
  
  }
  #secundario {
    background-color: yellow;
  
    width: 18%;
  }

#terciario {
  display: flex;
  justify-content: space-around;
  align-content:flex-end;
  
  background-color: rgb(255, 0, 200);
  
}
#pie {
    display: flex;
    align-items: flex-end;
    margin-top: 1em;
    clear: both;
}
#cabecera #logo {
  float: left;
}
#cabecera #buscador {
  float: right;
}
#menu ul#menu_principal li {
  display: inline;
  float: left;
}
#contenido #principal .articulo img {
  width: 100px;
  float: left;
}
#pie .enlaces {
  float: left;
}
#pie .copyright {
  float: right;
}
