img{
    max-width: 100%;
}
body{
    background-color: rgb(255, 99, 71);
}

.menu{
    background-color: rgb(255, 99, 71);
    border: 1px solid #999;
    box-sizing: border-box; 
    color: #444;
    display: inline-block;
    padding: 1em;
    width: 100%;
   
}
 
.boton{
    display: inline-block;
    margin: 0;
    margin-right: 3px;
    padding: 0;
    width: 19%;

}

.portada_imagen{
    background-image: url(../ud3_recu_blockinline/images/portada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height: 20em;
   
    box-sizing: border-box; 
    color: #444;
    display: inline-block;
    padding: 1em;
    width: 100%;
}
.noticia{
    background-color: rgb(255, 99, 71);
    border: 1px solid #999;
    box-sizing: border-box; 
    color: #444;
    display: inline-block;
    padding: 1em;
    vertical-align: top;
    width: 49%;
}

.contenido1{
    background-color: rgb(255, 255, 255);
    border: 1px solid #999;
    box-sizing: border-box; 
    color: #444;
    display: inline-block;
    padding: 1em;
    width: 100%;
}

body{
    background-color: rgb(255, 255, 255);
}